<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/header :: header}"></div>
<body class="flex flex-col min-h-screen">
<div th:replace="~{fragments/nav :: nav}"></div>
<main class="flex-grow">
    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-bold mb-4">All Submissions</h1>
        <ul >
            <li th:each="submission : ${submissions}"
                class="hover:text-yellow-600 transition-colors duration-200 hover:underline">
                <a th:href="@{/submissions/{id}(id=${submission.id})}"
                   hx-target="#main-content"
                   hx-swap="innerHTML"
                >
                    <span th:text="${submission.paperTitle}">Paper Title</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="container mx-auto p-6 font-bold mb-4" >
        <a href="/submissions/submission-form" style="background-color: green; color: white; padding: 7px; border-radius: 5px;">
            Submit Paper</a>
    </div>
</main>
</body>
<div th:replace="~{fragments/footer :: footer}"></div>
</html>