<head th:fragment="header">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css">
    <title>Conference Management</title>
</head>

<div th:fragment="site-header">
    <header class="bg-blue-600 text-white shadow-lg">
        <div class="container mx-auto flex justify-between items-center py-4 px-6">
            <h1 class="text-2xl font-bold">
                <a href="/" class="hover:underline">
                    Conference Management
                </a>
            </h1>
        </div>
    </header>
</div>