<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/header :: header}"></div>
<body class="flex flex-col min-h-screen bg-gray-100"> <!-- Added a background for better visibility -->
<div th:replace="~{fragments/nav :: nav}"></div>

<main class="flex-grow">
    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-bold mb-4">Create schedule for</h1>
        <h1 class="text-2xl font-bold mb-4"> <span th:text="${conference.name}"></span></h1>
        <form th:action="@{/schedules}" method="post" class="bg-white p-6 rounded shadow-sm">
            <input type="hidden" name="conferenceId" th:value="${conference.id}"/>

            <div class="mb-4">
                <label for="startDate" class="block text-gray-700 font-bold mb-2">Select Date:</label>
                <input
                        type="date"
                        id="startDate"
                        name="startDate"
                        th:attr="min=${conference.startDate}, max=${conference.endDate}"
                        class="border-gray-300 rounded w-full"
                        required />
                <p class="text-sm text-gray-500 mt-1">Select a date between the conference dates:
                    <span th:text="'Start: ' + ${conference.startDate} + ' | End: ' + ${conference.endDate}"></span>
                </p>
            </div>

            <div class="mb-4">
                <label for="presentationId" class="block text-gray-700 font-bold mb-2">Select Presentation:</label>
                <select
                        id="presentationId"
                        name="presentationId"
                        class="border-gray-300 rounded w-full"
                        required>
                    <option value="" disabled selected>Select a presentation</option>

                    <option th:each="presentation : ${presentations}"
                            th:value="${presentation.id}"
                            th:text="${presentation.title}">
                    </option>
                </select>
            </div>

            <button style="background-color: dodgerblue; color: white; padding: 7px; border-radius: 5px;"
                    type="submit">
                Create Schedule
            </button>

        </form>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>