<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/header :: header}"></div>
<body class="flex flex-col min-h-screen">
<div th:replace="~{fragments/nav :: nav}"></div>
<main class="flex-grow">
    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-bold mb-6 ">All Conferences</h1>
        <ul class="space-y-6 ">
            <li th:each="conference : ${conferences}"
                class="border-2 border-slate-900 rounded-lg shadow hover:shadow-lg transition-shadow duration-200">
                <a      th:href="@{/conferences/{id}(id=${conference.id})}"
                        hx-target="#main-content"
                        hx-swap="innerHTML"
                        class="block p-6 bg-gray-100 hover:bg-gray-200 rounded-lg transition-colors duration-200">

                    <span class="font-semibold text-lg size-6 text-gray-900" th:text="${conference.name}">Conference Name</span>
                    <br />
                    <span class="text-gray-500" th:text="${conference.description}">Conference Description</span>
                    <br />
                    <span class="text-gray-500" th:text="${conference.category}">Conference Category</span>
                    <br />
                    <span class="text-gray-500">
                        Start Date:
                        <span th:text="${conference.startDate}">Start Date</span>
                    </span>
                    <br />
                    <span class="text-gray-500">
                        End Date:
                        <span th:text="${conference.endDate}">End Date</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="container mx-auto p-6 font-bold mb-4" >
        <a href="/conferences/create-conference" style="background-color: green; color: white; padding: 7px; border-radius: 5px;">
            Create a new conference</a>
    </div>
</main>
</body>
<div th:replace="~{fragments/footer :: footer}"></div>
</html>