<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/header :: header}"></div>
<body class="flex flex-col min-h-screen bg-gray-100"> <!-- Added a background for better visibility -->
<div th:replace="~{fragments/nav :: nav}"></div>

<main class="flex-grow">
    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-bold mb-4">Create a presentation for</h1>
        <h1 class="text-2xl font-bold mb-4"> <span th:text="${conferenceName}"></span></h1>

        <form th:action="@{/presentations}" th:object="${presentation}" method="post" class="bg-white p-6 rounded shadow-sm">
            <input type="hidden" name="conferenceId" th:value="${conferenceId}" />

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                    Title
                </label>
                <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="title"
                        name="title"
                        type="text"
                        placeholder="Presentation Title"
                        th:field="*{title}"
                        required>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red; font-style: italic"></p>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                    Description
                </label>
                <textarea
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="description"
                        name="description"
                        placeholder="Conference Description"
                        rows="3"
                        th:field="*{description}"
                        required></textarea>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color:red; font-style: italic"></p>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="submission">Submission</label>
                <select id="submission" name="submissionId" class="shadow border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline" required>
                    <option disabled selected hidden value="">-- Select Submission --</option>
                    <option th:each="submission : ${submissions}"
                            th:value="${submission.id}"
                            th:text="${submission.paperTitle}"
                    ></option>
                </select>
                <p th:if="${#fields.hasErrors('submissionId')}" th:errors="*{submissionId}" style="color:red; font-style: italic"></p>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="speaker">Speaker</label>
                <select id="speaker" name="speakerId" class="shadow border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline" required>
                    <option disabled selected hidden value="">-- Select Speaker --</option>
                    <option th:each="speaker : ${speakers}"
                            th:value="${speaker.id}"
                            th:text="${speaker.title + '. ' + speaker.surname + ' ' + speaker.name}"></option>
                </select>
                <p th:if="${#fields.hasErrors('speakerId')}" th:errors="*{speakerId}" style="color:red; font-style: italic"></p>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="schedule">Day</label>
                <select id="schedule" name="scheduleId" class="shadow border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline" required>
                    <option disabled selected hidden value="">-- Select Date --</option>
                    <option th:each="schedule : ${schedules}"
                            th:value="${schedule.id}"
                            th:text="${schedule.startDate}"
                            th:selected="${selectedSchedule?.id == schedule.id}"
                    ></option>
                </select>
                <p th:if="${#fields.hasErrors('scheduleId')}" th:errors="*{scheduleId}" style="color:red; font-style: italic"></p>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="startTime">
                    Start Time
                </label>
                <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="startTime"
                        name="startTime"
                        type="time"
                        th:field="*{startTime}"
                        required>
                <p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" style="color:red; font-style: italic"></p>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="endTime">
                    End Time
                </label>
                <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="endTime"
                        name="endTime"
                        type="time"
                        th:field="*{endTime}"
                        required>
                <p th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" style="color:red; font-style: italic"></p>
            </div>

            <button style="background-color: dodgerblue; color: white; padding: 7px; border-radius: 5px;"
                    type="submit">
                Create Presentation
            </button>
        </form>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>